<section id="About" class="about">
  <h2 class="section-title reveal">À propos de moi</h2>

  <div class="about-grid">
    <!-- PROFIL -->
    <div class="about-card profile-card reveal">
        <img src="assets/Lys.jpg" alt="Simporé Lysias"/>      
        <ul class="personal-info">
        <li><span>Nationalité</span><strong>Burkinabè</strong></li>
        <li><span>Téléphone</span><strong>+226 66649047</strong></li>
        <li><span>Email</span><strong>eldadsimpore@gmail.com</strong></li>
        <li><span>Lieu</span><strong>Ouagadougou</strong></li>
      </ul>
    </div>

    <!-- DIPLÔMES -->
    <div class="about-card education-card reveal">
      <h3>Diplômes</h3>
      <ul class="education">
        <li><span>2022 – 2023</span> Licence Professionnelle</li>
        <li><span>2019 – 2020</span> Baccalauréat série D</li>
        <li><span>2016 – 2017</span> BEPC</li>
        <li><span>2012 – 2013</span> CEP</li>
      </ul>
    </div>
  </div>

  <!-- SOFT SKILLS PREMIUM -->
  <div class="soft-skills about-card education-card reveal">
    <h3>SOFT SKILLS:</h3>
    <div class="skill-badge">Sérieux</div>
    <div class="skill-badge">Dynamique</div>
    <div class="skill-badge">Travail d'équipe</div>
    <div class="skill-badge">Organisé</div>
    <div class="skill-badge">Responsable</div>
    <div class="skill-badge">Discipline</div>
  </div>
</section>
