<section id="Experience" class="experience">
  <h2 class="section-title reveal">Expériences</h2>

  <div class="timeline">

    <div class="timeline-item reveal">
      <h3>Chargé de pilotage FTTX - Orange BF</h3>
      <span>Avril 2024 - Juin 2025</span>
      <p>Supervision des travaux de déploiement de la fibre optique, contrôle QoS et tests OLT.</p>
    </div>

    <div class="timeline-item reveal">
      <h3>Stage Laravel - Conseil Burkinabè des Chargeurs</h3>
      <span>Octobre 2023 - Janvier 2024</span>
      <p>Participation au projet de développement web Laravel.</p>
    </div>

    <div class="timeline-item reveal">
      <h3>Stage SYNATEK</h3>
      <span>Août 2023 - Novembre 2023</span>
      <p>Maintenance préventive, assistance technique, performance réseau.</p>
    </div>

    <div class="timeline-item reveal">
      <h3>Stage AnkaWEB</h3>
      <span>Décembre 2022 - Mars 2023</span>
      <p>Conception site WordPress, création graphique via Canva.</p>
    </div>

    <div class="timeline-item reveal">
      <h3>Stage DSI 2IE</h3>
      <span>Août 2022 - Novembre 2022</span>
      <p>Maintenance baie de brassage, déploiement matériel, support utilisateurs.</p>
    </div>

  </div>
</section>
