<header class="header">
  <div class="header-inner">
    <div class="logo">SIMPORE Wend-Yam Lysias Eldad</div>

    <!-- Burger menu -->
    <button class="burger" aria-label="Menu">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <!-- Navigation -->
    <nav class="nav">
      <a href="#Hero">Bienvenue</a>
      <a href="#About">À propos</a>
      <a href="#Skills">Compétences</a>
      <a href="#Experience">Expériences</a>
      <a href="#Portfolio">Projets</a>
      <a href="#Contact">Contact</a>
    </nav>
  </div>
</header>
