<section id="Hero" class="hero reveal">
  <div class="hero-content">
    <h1>Salut, je suis <span class="highlight">SIMPORE W. Lysias Eldad</span></h1>
    <p>Ingénieur des travaux en informatique, spécialisé en Systèmes d’Information et Réseaux, je suis actuellement en poste au sein du Service Réseau et Système du Ministère des Sports, de la Jeunesse et de l’Emploi (MSJE). Mon rôle consiste à assurer la gestion, la maintenance et la sécurisation des infrastructures réseau et systèmes, tout en veillant à l’optimisation des performances et à la disponibilité des services informatiques.</p>
    <p>Parallèlement, je travaille en freelance, où je conçois des solutions numériques sur mesure pour des besoins publicitaires et professionnels. Je crée des sites web responsives, intuitifs et optimisés, ainsi que des visuels graphiques impactants, permettant à mes clients de renforcer leur présence en ligne et leur communication visuelle.</p>
    <p>Grâce à cette double expérience, je combine expertise technique et sensibilité créative, offrant des solutions complètes allant de l’infrastructure IT à la conception digitale.</p>
    <div class="hero-buttons">
      <a href="#Portfolio" class="btn primary">Mes projets</a>
      <a href="#Contact" class="btn secondary">Contactez-moi</a>
    </div>
  </div>
  <div class="hero-image">
    <img src="assets/Lysias.jpg" alt="Simporé Lysias"/> 
  </div>
</section>
