<section id="Portfolio" class="portfolio">
  <h2 class="section-title reveal">Projets</h2>

  <div class="projects-grid">
    <div class="project-card reveal">
      <img src={`${import.meta.env.BASE_URL}assets/maint.jpg`} alt="Projet 1">
      <div class="project-info">
        <h3>Maintenance informatique</h3>
        <p>Maintenance préventive et curative d'ordinateur</p>
      </div>
    </div>

    <div class="project-card reveal">
      <img src={`${import.meta.env.BASE_URL}assets/supp.jpg`} alt="Projet 2">
      <div class="project-info">
        <h3>Supervision</h3>
        <p>Supervision de la réalisation de projet de déploiement fibre optique FTTH Orange BF</p>
      </div>
    </div>

    <div class="project-card reveal">
      <img src={`${import.meta.env.BASE_URL}assets/inst.jpg`} alt="Projet 3">
      <div class="project-info">
        <h3>Configuration</h3>
        <p>Normalisation à l'OLT après déploiement FTTH</p>
      </div>
    </div>
  </div>
</section>
