<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIMPORE W. Lysias Eldad | Portfolio</title>

    <!-- CSS -->
    <link rel="stylesheet" href="styles/global.css" />
    <link rel="stylesheet" href="styles/components.css" />  
  </head>
  <body>
    <slot /> <!-- Contenu de la page -->

    <!-- JS -->
    <script src="scripts/main.js" defer></script>
  </body>
</html>
